body {
    font-family: "Shrikhand", serif;
    font-family: "Roboto", serif;
    margin: 0;
}

* {
    text-decoration: none;
    list-style: none;
    color: inherit;
    padding-inline-start: initial; 
}



:root {
    --violet-btn2: #9356DC;
    --pink-btn1: #FF79DA;
    --green-sticker: #99E2D0;
    --green-text: #3b8468;
    --white-card: #ffffff;
    --black-foot: #000;
    --gray-bg: #f6f6f6;
    --gray-form: #EAEAEA;
    --purple-bg: #f6edfe;
    --footer-bg: #353535;
    --Roboto-font: "Roboto";
    --Shrikhand-font: "Shrikhand";
}

/*NOTE footer background*/
.ft-bg {
    background-color: var(--footer-bg);
}

/*NOTE background-color logo*/
.white-bg {
    background-color: var(--white-card);
}

.gray-bg {
    background-color: var(--gray-bg);
}

/*NOTE SHRIKHAND FONT*/
.Shr {
    font-family: var(--Shrikhand-font);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/*NOTE POLICES HEADER and MAIN*/
a {
    font-family: "Roboto";
}

/*NOTE IMG RADIUS*/
.rd-t2 {
    border-radius: 18px 18px 0 0;
}

/*NOTE TEXT CARD RADIUS*/
.rd-b2 {
    border-radius: 0 0 18px 18px;
}

/*NOTE MENU-ELEMENT RADIUS*/
.rd-4 {
    border-radius: 18px;
}

/*-----------------------*\
      	FOOTER
\*-----------------------*/
footer {
    /* background-color: var(--footer-bg); */
    color: var(--white-card);
    width: 100%;
    line-height: 10px;
}

/*//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\//////////////////////////\\\\\\\\\\\\\\\\*/
                                            /* M O B I L E */
/*//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\//////////////////////////\\\\\\\\\\\\\\\\*/

/*-----------------------*\
      	MEDIA MOBILE
\*-----------------------*/
@media screen and (max-width: 768px) {
    body, html {
        overflow-x: hidden;
        margin: 0;
    }

    .fa-arrow-left {
        font-size: larger;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .back {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    /* Logo */
    .header h1 {
        text-align: center;
        font-weight: 500;
        font-size: 32px;
    }

    /* Background Image */   /*coucou*/
    img {
        width: 100%;
        object-fit: cover;
        min-width: 360px;
        height: 100%;
        max-height: 300px;
        margin: 0;
    }

    .resto-name h2 {
        margin-top: 0;
        display: flex;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 30px;
        justify-content: space-between;
        padding-left: 10px;
    }

    .Shr h2 {
        margin: 0;
        padding-left: 15px;
        padding-bottom: 2px;
    }

    .back .Shr {
        font-size: 30px;
        font-weight: inherit;
        padding: 10px;
    }

    .title {
        margin-top: 15px;
    }

    .main-menu {
        background-color: var(--gray-bg);
        padding: 18px 10px 0 10px;
        border-radius: 40px 40px 0 0;
        overflow: hidden;
        position: relative;
        margin-top: -64px;
        margin-left: auto;
        margin-right: auto;
        
    }

    span .far {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 34px;
        right: 32px;
        font-size: x-large;
    }

    .section_entrances {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
    }

    .menu-e, .menu-p, .menu-d {
        border-bottom: 3px solid var(--green-sticker);
        width: 39px;
        padding-bottom: 5px;
        margin: 10px 0 15px 10px;
    }

    .text-card h3, p {
        margin: 0;
        padding-left: 0;
        padding-top: 5px;
    }

    .fonctionnement-section {
        padding: 16px;
    }

    .fonctionnement-section h2 {
        margin-bottom: 0;
    }

    .fonctionnement-menu__wrapper ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .menu-el.title .meal {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 500;
        font-size: medium;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }

    .menu-el.title p {
        margin-bottom: 0;
        margin-top: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }

    .menu-el.title {
        padding-bottom: 0;
        font-weight: 300;
        background-color: var(--white-card);
        margin-bottom: 15px;
        display: flex;
        align-items: normal;
        overflow: hidden;
        box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .price {
        font-weight: 400;
        display: flex;
        align-items: flex-end;
        padding: 0 12px 12px 0;
        font-size: 15px;
    }

    
        /* animation horizontale menu */
   .check {
        background-color: var(--green-sticker);
        width: 0;
       transition: width 0.5s;
    }

    .check i {
        color: var(--white-card);
        transform: rotate(0turn);
        transition: transform 0.5s;
        padding: 23px;
        font-size: 20px;
    }
    
    .menu-el:hover .check {
        cursor: pointer;
        width: 20%;
    }

    .menu-el:hover .check i {
        transform: rotate(-1turn);
    }


    /* animation verticale menu */
    .menu-el {
    	animation: riseUp 3s;
    }

    .menu-el:nth-child(1) {
      animation: riseUp 500ms forwards;
      opacity: 0;
    }

    .menu-el:nth-child(2) {
      animation: riseUp 500ms forwards;
      animation-delay: 200ms;
      opacity: 0;
    }

    .menu-el:nth-child(3) {
      animation: riseUp 500ms forwards;
      animation-delay: 400ms;
      opacity: 0;
    }

    .menu-el:nth-child(4) {
      animation: riseUp 500ms forwards;
      animation-delay: 600ms;
      opacity: 0;
    }

    @keyframes riseUp {
      from {
        opacity: 0;
        transform: translateY(20px)
      }

      to {
        opacity: 1;
        transform: translateY(0)
      }

    }

    .menu-item__wrapper p {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


    .menu-item__wrapper {
        width: 98%;
        padding: 12px 10px 12px;
        overflow: hidden;
    }
    

    .full {
        visibility: hidden;
    }
    

    .full:hover, .full:active {
        transform: scale(1.15);
        opacity: 100%;
        background-image: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    .fa-heart:hover, .fa-heart:active {
        opacity: 100%;
        background: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
        background-clip: text;
        -moz-text-fill-color: transparent;
        font-weight: bold;
        animation-duration: 3s;
    }



    button {
        display: block;
        width: 220px;
        height: 53px;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(162deg, var(--pink-btn1)0%, var(--violet-btn2) 100%);
        border: none;
        color: var(--white-card);
        padding: 5px;
        box-shadow: 4px 4px 10px rgba(0,0,0,.25);
        margin-bottom: 60px;
        margin-top: 40px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.8;
        box-shadow: 0 5px 5px rgba(0,0,0,.35);
    }

    .Shr ul {
        padding-top: 10px;
        margin-top: 3px;
        padding-left: 20px;
    }

 
    li {
        margin: 25px 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        line-height: 10px;
        padding-left: 10px;
    }

    footer a {
        font-weight: 400;
        margin-left: 5px;
    }

    .fas .fa {
        padding-right: 5px;
        color: var(--icon-bg);
        font-size: larger;
    }

    .foot {
        color: var(--white-card);
        padding: 10px 0px 25px;
    }

    footer li {
        margin-top: 20px;
        margin-bottom: 2px;
        padding: 0px;
    }

    footer .Shr {
        margin: 0;
        justify-content: flex-start;
    }
}

/*//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\//////////////////////////\\\\\\\\\\\\\\\\*/
                                            /* T A B L E T */
/*//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\//////////////////////////\\\\\\\\\\\\\\\\*/

/*-----------------------*\
      	MEDIA TABLET
\*-----------------------*/

@media screen and (max-width: 992px) {
    body, html {
        overflow-x: hidden;
        margin: 0;
    }

    .fa-arrow-left {
        font-size: larger;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .header h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        margin: 0;
        font-size: 32px;
    }


    .back {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Background Image */
    img {
        width: 100%;
        object-fit: cover;
        min-width: 360px;
        height: 100%;
        max-height: 300px;
        margin: 0;
    }


    .resto-name h2 {
        margin-top: 0;
        display: flex;
        margin-bottom: 0;
        padding-left: 4px;
        padding-top: 15px;
        padding-bottom: 3px;
    }

    .Shr h2 {
        margin: 0;
        padding-left: 15px;
    }

    .Shr {
        font-size: 25px;
        font-weight: inherit;
        padding-top: 20px;
    }

    .main-menu {
        background-color: var(--gray-bg);
        padding: 18px 10px 0 10px;
        border-radius: 40px 40px 0 0;
        overflow: hidden;
        position: relative;
        margin-top: -64px;
    }


    .fonctionnement-section {
        padding: 16px;
    }

    .fonctionnement-section h2 {
        margin-bottom: 0;
    }

    .price {
        font-weight: 400;
        display: flex;
        align-items: flex-end;
        padding: 0 12px 12px 0;
        font-size: 15px;
    }

    .full {
        visibility: hidden;
    }

    .full:hover, 
    .full:active {
        transform: scale(1.15);
        opacity: 100%;
        background-image: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        animation-duration: 1s;
        position: absolute;
        bottom: 16%;
        right: 6%;

    }

    .fa-heart:hover, 
    .fa-heart:active {
        opacity: 100%;
        background: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        animation-duration: 1s;
    }

    span .far {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 34px;
        right: 32px;
        font-size: x-large;
    }

    .section_entrances {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 25%;
    }

    .menu-e, .menu-p, .menu-d {
        border-bottom: 3px solid var(--green-sticker);
        width: 39px;
        padding-bottom: 5px;
        margin: 10px 0 15px 10px;
    }

    .text-card h3, p {
        margin: 0;
        padding-left: 0;
        padding-top: 5px;
    }

    .fonctionnement-section {
        padding: 16px;
    }

    .fonctionnement-section h2 {
        margin-bottom: 0;
    }

    .menu-el.title .meal {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 500;
        font-size: medium;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }

    .menu-el.title p {
        margin-bottom: 0;
        margin-top: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }

    .menu-el.title {
        padding-bottom: 0;
        font-weight: 300;
        background-color: var(--white-card);
        margin-bottom: 15px;
        align-items: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        box-shadow: 4px 4px 10px rgba(0,0,0,.1);
        width: 500px;
    }

    .price {
        font-weight: 400;
        display: flex;
        align-items: flex-end;
        padding: 0 12px 12px 0;
        font-size: 15px;
    }

    
        /* animation horizontale menu */
   .check {
        background-color: var(--green-sticker);
        width: 0;
       transition: width 0.5s;
    }

    .check i {
        color: var(--white-card);
        transform: rotate(0turn);
        transition: transform 0.5s;
        padding: 23px;
        font-size: 20px;
    }
    
    .menu-el:hover .check {
        cursor: pointer;
        width: 20%;
    }

    .menu-el:hover .check i {
        transform: rotate(-1turn);
    }


    /* animation verticale menu */
    .menu-el {
    	animation: riseUp 3s;
    }

    .menu-el:nth-child(1) {
      animation: riseUp 500ms forwards;
      opacity: 0;
    }

    .menu-el:nth-child(2) {
      animation: riseUp 500ms forwards;
      animation-delay: 200ms;
      opacity: 0;
    }

    .menu-el:nth-child(3) {
      animation: riseUp 500ms forwards;
      animation-delay: 400ms;
      opacity: 0;
    }

    .menu-el:nth-child(4) {
      animation: riseUp 500ms forwards;
      animation-delay: 600ms;
      opacity: 0;
    }

    @keyframes riseUp {
      from {
        opacity: 0;
        transform: translateY(20px)
      }

      to {
        opacity: 1;
        transform: translateY(0)
      }

    }

       .menu-item__wrapper p {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


    .menu-item__wrapper {
        width: 98%;
        padding: 12px 10px 12px;
        overflow: hidden;
    }

    button {
        display: block;
        width: 220px;
        height: 53px;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(162deg, var(--pink-btn1)0%, var(--violet-btn2) 100%);
        border: none;
        color: var(--white-card);
        padding: 5px;
        box-shadow: 4px 4px 10px rgba(0,0,0,.25);
        margin-bottom: 60px;
        margin-top: 40px;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.8;
        box-shadow: 0 5px 5px rgba(0,0,0,.35);
    }

    .Shr h3, ul {
        padding-top: 10px;
        padding-left: 20px;
        margin-top: 0;
    }

    li {
        margin: 25px 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        line-height: 10px;
        padding-left: 10px;
    }

    footer a {
        font-weight: 400;
        margin-left: 5px;
    }

    .fas .fa {
        padding-right: 5px;
        color: var(--icon-bg);
        font-size: larger;
    }

    .foot {
        color: var(--white-card);
        padding: 10px 0px 25px;
    }

    footer li {
        margin-top: 20px;
        margin-bottom: 2px;
        padding: 0px;
    }

    footer h3 {
        padding-left: 20px;
        margin-bottom: 0;
        padding-top: 40px;
    }
}


/*//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////\\\\\\\\\\\\\\\\*/
                                        /* D E S K T O P */
/*//////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\//////////////////////////\\\\\\\\\\\\\\\\*/

/*-----------------------*\
      	MEDIA DESKTOP
\*-----------------------*/

    .header h1 {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        font-size: 32px;
        display: flex;
        justify-content: center;
    }

@media screen and (min-width: 992px) {
    body, html {
        overflow-x: hidden;
    }
    
    .back {
        display: flex;
        align-items: center;
    }

    .fa-arrow-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:  0 40px;
        font-size: x-large;
    }


    /* Background Image */
    #bg-i {
        width: 100%;
        object-fit: cover;
        height: 100%;
        min-width: 360px;
        max-height: 300px;
    }

    .resto-name h2 {
        display: flex;
        margin: 0;
        padding: 0;
        padding-left: 15px;
    }


    .Shr {
        font-size: 32px;
        font-weight: inherit;
    }

    .menu__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
        gap: 198px;
        
    }

    .main-menu {
        background-color: var(--gray-bg);
        padding: 18px 10px 100px 10px;
        border-radius: 40px 40px 0 0;
        overflow: hidden;
        position: relative;
        margin-top: -64px;
        display: flex;
        display: flex;
        flex-direction: column;
    }

    a .far {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 34px;
        right: 32px;
        font-size: x-large;
    }

    .text-card h3, p {
        margin: 0;
        padding-left: 0;
        padding-top: 5px;
    }

    .fonctionnement-section {
        padding: 16px;
    }

    .fonctionnement-section h2 {
        margin-bottom: 0;
    }


    .section__entrances .section__meals .section__desserts { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-el.title, h3 {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 500;
    }

    .menu-el.title, p {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 300;
    }

    .menu-el.title {
        padding-bottom: 0;
        font-weight: 300;
        background-color: var(--white-card);
        margin-bottom: 15px;
        align-items: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        box-shadow: 4px 4px 10px rgba(0,0,0,.1);
        width: 400px;
    }

    .menu-item__wrapper {
        border-radius: 16px;
        padding: 12px;
    }

    .menu-el rd-4 h3, p {
        display: flex;
        justify-content: space-between;
        justify-content: flex-start;
    }


    .meal { 
        margin: 0;
        padding-right: 0;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        width: 98%;
        font-weight: 700;
    }


    .full {
        visibility: hidden;
    }

     .full:hover, 
    .full:active {
        transform: scale(1.15);
        opacity: 100%;
        background-image: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        animation-duration: 1s;
        position: absolute;
        bottom: 16%;
        right: 6%;

    }

    .fa-heart:hover, 
    .fa-heart:active {
        opacity: 100%;
        background: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        animation-duration: 1s;
    }

    span .far {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 34px;
        right: 32px;
        font-size: x-large;
    }

    .menu-e, .menu-p, .menu-d {
        border-bottom: 3px solid var(--green-sticker);
        width: 39px;
        padding-bottom: 5px;
        margin: 10px 106px 15px -20px;
        display: flex;
    }

    .text-card h3, p {
        margin: 0;
        padding-left: 0;
        padding-top: 5px;
    }

    .fonctionnement-section {
        padding: 16px;
    }

    .fonctionnement-section h2 {
        margin-bottom: 0;
    }

    .menu-el.title .meal {
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 500;
        font-size: medium;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }

    .menu-el.title p {
        margin-bottom: 0;
        margin-top: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }

    .price {
        font-weight: 400;
        display: flex;
        align-items: flex-end;
        padding: 0 12px 12px 0;
        font-size: 15px;
        margin-left: auto;
    }

      /* animation horizontale menu */
   .check {
        background-color: var(--green-sticker);
        width: 0;
       transition: width 0.5s;
    }

    .check i {
        color: var(--white-card);
        transform: rotate(0turn);
        transition: transform 0.5s;
        padding: 23px;
        font-size: 20px;
    }
    
    .menu-el:hover .check {
        cursor: pointer;
        width: 20%;
    }

    .menu-el:hover .check i {
        transform: rotate(-1turn);
    }


    /* animation verticale menu */
    .menu-el {
    	animation: riseUp 3s;
    }

    .menu-el:nth-child(1) {
      animation: riseUp 500ms forwards;
      opacity: 0;
    }

    .menu-el:nth-child(2) {
      animation: riseUp 500ms forwards;
      animation-delay: 200ms;
      opacity: 0;
    }

    .menu-el:nth-child(3) {
      animation: riseUp 500ms forwards;
      animation-delay: 400ms;
      opacity: 0;
    }

    .menu-el:nth-child(4) {
      animation: riseUp 500ms forwards;
      animation-delay: 600ms;
      opacity: 0;
    }

    @keyframes riseUp {
      from {
        opacity: 0;
        transform: translateY(20px)
      }

      to {
        opacity: 1;
        transform: translateY(0)
      }

    }

    button {
        display: block;
        width: 220px;
        height: 53px;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(162deg, var(--pink-btn1)0%, var(--violet-btn2) 100%);
        border: none;
        color: var(--white-card);
        padding: 5px;
        box-shadow: 4px 4px 10px rgba(0,0,0,.25);
        margin-bottom: 60px;
        margin-top: 40px;
        cursor: pointer;
        background-color: var(--gray-bg)!important;
    }

    button:hover {
        opacity: 0.8;
        box-shadow: 0 5px 5px rgba(0,0,0,.35);
    }

    .Shr h3, ul {
        padding-top: 10px;
        padding-left: 20px;
        margin-top: 0;
    }

    .ft-space {
        display: flex;
        padding-left: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        line-height: 10px;
        padding-left: 10px;
        height: 250px;
    }

    footer a {
        font-weight: 400;
        margin-left: 5px;
    }

    .fas .fa {
        padding-right: 5px;
        color: var(--icon-bg);
        font-size: larger;
    }

    .foot {
        color: var(--white-card);
        padding: 10px 0px 25px;
    }

    footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 77px;
        margin-left: auto;
        margin-right: auto;
        color: var(--white-card);
        font-weight: 100;


    }

    footer li {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-right: 70px;
    }

    footer h3 {
        padding-left: 20px;
        margin-bottom: 0;
        padding-top: 40px;
        color: var(--white-card);
    }
    
    h3 .Shr {
        padding-top: 50px;
    }


}   