
:root {
	--pink-ld: #FFC4EF;
	--violet-ld: #C6A1F2;
}

.center-body {
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	z-index: -100;
	background: linear-gradient(162deg, var(--pink-btn1)0%, var(--violet-btn2) 100%);
	opacity: 0;
	animation-fill-mode: forwards;
	animation: opacity_loader 3s;
	position: fixed;
}

.loader-circle-18 {
	width: 75px;
	height: 75px;
	border-right: 7px solid #000000;
	border-radius: 100%;
	opacity: 0;
	z-index: 100;
	animation: anmR-loader-circle-18 3s linear, opacity_loader 3s;
	display: inline-block;
	position: relative;
}


.loader-circle-18:before,
.loader-circle-18:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 100%;
	animation: anmL-loader-circle-18 3s linear, opacity_loader 3s;
}

.loader-circle-18:before{
	width: 45px;
	height: 45px;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	border-right: 7px solid #000000;
}

.loader-circle-18:after {
	width: 35px;
	height: 35px;
	top: calc(50% - 15px);
	left: calc(50% - 20px);
	border: 0;
	border-right: 7px solid #000000;
}


@keyframes anmL-loader-circle-18 {
	0%{
		transform: scale(1);
		transform: rotate(360deg);
	}

	70%{
		transform: scale(1);
		transform: rotate(0deg);
	}
	
	100%{
		transform: scale(1);
		transform: rotate(0deg);
	}
}

@keyframes anmR-loader-circle-18 {
	0% {
		transform: scale(1);
		transform: rotate(0deg);
	}

	70% {
		transform: scale(1);
		transform: rotate(720deg);
	}

	100% {
		transform: scale(0);
		transform: rotate(0deg);
	}

}

@keyframes opacity_loader {
	0% {
		opacity: 0.9;
		z-index: 100;
	}

	70% {
		opacity: 0.9;
		z-index: 100;
	}

	100% {
		opacity: 0;
		z-index: -100;
	}


}