
body {
	font-family: "Shrikhand", serif;
	font-family: "Roboto", serif;
}

*{
	text-decoration: none;
	list-style: none;
	color: inherit
}

:root {
	--violet-color: #9356DC;
	--pink-color: #FF79DA;
	--green-color: #99E2D0;
	--white-color: #fff;
	--black-color: #000;
	--gray-color: #f6f6f6;

	--Roboto-font: "Roboto";
	--Shrikhand-font: "Shrikhand";
}

/*NOTE SHRIKHAND FONT*/
.Shr {
	font-family: var(--Shrikhand-font);
}

/*NOTE POLICES HEADER and MAIN*/
a {
	font-family: "Roboto";
}

/*NOTE CARDS RADIUS and ELEMENTS*/
.rad {
	border-radius: 18px 18px 0 0;
}


/*-----------------------*\
          HEADER
\*-----------------------*/

#logo {
	padding: 16px 0 16px 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

.header {
	padding: 16px 0 16px 0;
	/* box-shadow: 0 0 .5rem rgba(0,0,0,.25); */
	position: relative;
	z-index: 1000;
	box-shadow: inset;	

}

.header h1 {
	font-weight: 500;
	font-size: 27px;
	text-align: center;
	padding: 0 27px;
}

.header p {
	font-weight: 100;
	font-size: 17px;
	text-align: center;

}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  background-color: var(--gray-color);
}

button {
	display: block;
	width: 220px;
	height: 53px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
	border: none;
	color: var(--white-color);
	padding: 5px;
	box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
}

.menu-el .rad{
	background-color: var(--gray-color);
	border-radius: 18px;
	padding: 10px;
}



/*-----------------------*\
          MAIN
\*-----------------------*/

.fonctionnement-menu__wrapper {
	display: flex;
}

article {
padding: 32px 16px;
}


.card img {
	border: 0 solid transparent;
	object-fit: cover;
	width: 100%;
	height: 190px;
	background-color: var(--white-color);
	overflow: hidden;
	border: 0px solid transparent;
	border-radius: 18px 18px 0 0 ;
}

.text-card {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: center;
	padding: 16px;
	background-color: var(--white-color);
	border-radius:  0 0 18px 18px;
}

/*-----------------------*\
          FOOTER
\*-----------------------*/
footer {
	background-color: var(--black-color);
	color: var(--white-color);
	width: 100%;
}

footer a {
	color: var(--white-color);
}



/*-----------------------*\
      	MEDIA MOBILE
\*-----------------------*/

@media screen and (max-width: 768px) {
	.search-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		height: 50px;
		background-color: var(--gray-color);
	}

	.header p {
		margin-bottom: 30px;
	}

	.fas fa-map-marker {
		display: flex;
		justify-content: space-between;
	}

	.menu-el .rad {
		background-color: var(--gray-color);
		padding: 25px;
		margin-bottom: 18px;

	}
	/*NOTE SPACE AROUND CARDS*/
.restaurants-section {		
	padding: 32px 16px;
	background-color: var(--gray-color);
}

.text-card h3, p {
	margin: 0;
	padding-left: 0;
	padding-top: 5px;
}


}






