
body {
	font-family: "Shrikhand", serif;
	font-family: "Roboto", serif;
}

*{
	text-decoration: none;
	list-style: none;
	color: inherit;
}

:root {
	--violet-btn2: #9356DC;
	--pink-btn1: #FF79DA;
	--green-sticker: #99E2D0;
	--green-text: #3b8468;
	--white-card: #ffffff;
	--black-foot: #000;
	--gray-bg: #f6f6f6;
	--gray-form: #EAEAEA;
	--purple-bg: #f6edfe;
	--icon-bg: #7e7e7e;
	--footer-bg: #353535;

	--Roboto-font: "Roboto";
	--Shrikhand-font: "Shrikhand";
}

.i-bg {
	color: var(--icon-bg);
}

/*footer background*/
.ft-bg {
	background-color: var(--footer-bg);
}

.ft-col {
	color: var(--footer-bg);
}

/*background-color logo*/
.w-bg {
	background-color: var(--white-card);
}

.w-col {
	color: var(--white-card);
}

.gray-bg {
	background-color: var(--gray-bg);
}
/*SHRIKHAND FONT*/
.Shr {
	font-family: var(--Shrikhand-font);
}

/*POLICES HEADER and MAIN*/
a {
	font-family: "Roboto";
}

/*IMG RADIUS*/
.rd-t2 {
	border-radius: 18px 18px 0 0;
}

/*TEXT CARD RADIUS*/
 .rd-b2 {
	border-radius: 0 0 18px 18px;
}  

/*MENU-ELEMENT RADIUS*/
.rd-4 {
	border-radius: 18px;
}


/*-----------------------*\
          HEADER
\*-----------------------*/


.header h1 {
	font-weight: 500;
	font-size: 27px;
	text-align: center;
	padding: 0 27px;
	margin-bottom: 0;
	padding-top: 4px;
	padding-bottom: 10px;
}

.header p {
	font-weight: 100;
	font-size: 17px;
	text-align: center;

}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  background-color: var(--gray-form);
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
}

button {
	display: block;
	width: 220px;
	height: 53px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(162deg, var(--pink-btn1)0%, var(--violet-btn2) 100%);
	border: none;
	color: var(--white-card);
	padding: 5px;
	box-shadow: 4px 4px 10px rgba(0,0,0,.25);
	margin-bottom: 40px;
	cursor: pointer;
}


button:hover {
	opacity: 0.8;
	box-shadow: 0 5px 5px rgba(0,0,0,.35);
}



/*-----------------------*\
          MAIN
\*-----------------------*/


.card img {
	object-fit: cover;
	width: 100%;
	height: 190px;
	background-color: var(--white-card);
	overflow: hidden;
}

/*-----------------------*\
          FOOTER
\*-----------------------*/

footer {
	background-color: var(--footer-bg);
	color: var(--white-card);
	width: 100%;
}


/*-----------------------*\
      	MEDIA MOBILE
\*-----------------------*/

@media screen and (max-width: 768px) {

	body,
	html {
  overflow-x: hidden;
}
	
	.search-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		height: 50px;
		background-color: var(--gray-form);
	}
	
	.header {
		padding: 0px 0 16px 0;
		background-color: var(--gray-bg);
	}

	.header p {
		margin-bottom: 30px;
	}
	
	.fas fa-map-marker {
		display: flex;
		justify-content: space-between;
		padding-right: 0;
		margin-left: 25px;
	}

	/*NOTE SPACE AROUND CARDS*/
	.restaurants-section {		
		padding: 32px 16px;
		background-color: var(--gray-bg);
	}


	.promo {
		position: absolute;
		background-color: var(--green-sticker);
		color: var(--green-text);
		padding: 7.2px 10px;
		top: 5%;
		right: 32%;
		transform: translate(100px);

	}

	.promo {
		background-color: var(--green-sticker);
		color: var(--green-text);
		padding: 7.2px 10px;
		position: relative;
		left: 64px;
		transform: translate(218%);
		bottom: 178px;

	}

	.label-pos {
		position: absolute;
	}

	.card {
		margin-bottom: 20px;
		position: relative;
	}

	.text-card {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 6px 14px 0 14px;
		background-color: var(--white-card);
		box-shadow: 0px 5px 5px rgba(0,0,0,.1);

	}

	.far {
		display: flex;
		justify-content: flex-end;
		font-size: x-large;
		position: absolute;
		bottom: 13%;
		right: 7%;
	}


	.text-card h3, p {
		margin: 0;
		padding-left: 0;
		padding-top: 5px;
		color: var(--footer-bg);
	}

	.Shr h3, ul { 
		padding-top: 10px;
		padding-left: 20px;
		margin-top: 0; 
	} 

	.fonctionnement-section {
		padding-left: 22px;
		padding-right: 22px;
		padding-bottom: 45;
		padding: 16px 22px 45px 22px;
	}
	.fonctionnement-section h2 {
		margin-top: 37px;
		margin-bottom: 0;
	}

	.menu-el {
		display: flex;
		border-radius: 18px;
		background-color: var(--gray-bg);
		padding: 27px 27px 27px 15px;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 4px 4px 10px rgba(0,0,0,.1);
		position: relative;
	}
	.menu-el span {
		margin-right: 22px;
	}

	.menu-el .fas.fa {
		padding-right: 20px;
		font-size:;	

	}

	.menu-el:hover  {
		background-color: var(--purple-bg);
	}
	
	.menu-el:hover i {
		color: var(--violet-btn2);

	}
	
	.full {
    visibility: hidden;
}

.full:hover,
.full:active {
  background-image: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
	transition-duration: 2s;
	position: absolute;
	bottom: 16%;
	right: 6%;
	font-size: x-large;

}

.fa-heart:hover,
.fa-heart:active {
  background: linear-gradient(0deg, var(--pink-btn1), var(--violet-btn2));
	background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
	color: var(--white-card);
	transition-duration: 2s;
	}


	.list-number {
		display: flex;
		background-color: var(--violet-btn2);
		width: 25px;
		height: 25px;
		justify-content: center;
		align-items: center;
		color: var(--white-card);
		position: absolute;
		left: -12px;
	}
	
	div .list-number {
		border-radius: 50%;
	}
	
	li {
		margin: 25px 0;
	}
	
	footer {
		display: flex;
		flex-direction: column;
		line-height: 10px;
		padding-left: 10px;
	}
	
	footer a {
		font-weight: 400;
		margin-left: 5px;
	}
	
	.fa {
	 	padding-right: 5px;
		color: var(--icon-bg);
	}
	
	.foot {
		color: var(--white-card);
	}

	footer li {
		margin-top: 20px;
		margin-bottom: 2px;
	}

	footer h3 {
		padding-left: 20px;
		margin-bottom: 0;
		padding-top: 10px;
	}
}










